{% set perPackageManager = {
    "npm": {
        "packages": "pkgs.nodejs_20",
        "install": "if [ -f package-lock.json ]; then npm ci --prefer-offline --no-audit --no-progress; else npm install --prefer-offline --no-audit --no-progress; fi",
				"previewAndroidPrefix": "npm run android --",
				"start": "npm run start"
    },
    "yarn": {
        "packages": "pkgs.yarn",
        "install": "yarn install --frozen-lockfile",
				"previewAndroidPrefix": "yarn android",
				"start": "yarn start"
    }
}[packageManager]%}
{ pkgs, ... }: {
  channel = "stable-23.11";
  packages = [
    {{perPackageManager.packages}}
    pkgs.jdk21_headless
    pkgs.gradle
		pkgs.socat
    pkgs.android-tools
    pkgs.watchman
  ];
  idx = {
    extensions = [
      "msjsdiag.vscode-react-native"
      "dbaeumer.vscode-eslint"
      "esbenp.prettier-vscode"
    ];
    workspace = {
      onCreate = {
        install = ''
					# Install dependencies
					{{perPackageManager.install}}

					export ANDROID_HOME=/nix/store/0wqd5nfc2hlx13davkvq2zf3zcy0wr61-androidsdk/libexec/android-sdk
					export ANDROID_SDK_ROOT=$ANDROID_HOME

					# Add more memory to the JVM
          sed -i 's/org.gradle.jvmargs=-Xmx2048m -XX:MaxMetaspaceSize=512m/org.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=512m/' "android/gradle.properties"

					# Start metro
					{{perPackageManager.start}}
				'';
      };
			onStart = {
				start-android = ''
					adb -s localhost:5554 wait-for-device

					{{packageManager}} run android
				'';
      };
    };
    previews = {
      enable = true;
       previews = {
        android = {
          command = [
            "bash"
            "-c"
            ''
              # Wait for the emulator to be ready
              adb -s localhost:5554 wait-for-device
              
              # Forward the React Native development server port
              socat tcp-listen:8081,reuseaddr,fork tcp:host.docker.internal:8081 &
              
              # Start the React Native development server and Android app
              {{perPackageManager.previewAndroidPrefix}} start
            ''
          ];
          manager = "web";
        };
      };
    };
  };
}
